@Styles.Render("~/Content/QuestionStyle.css")
@Scripts.Render("~/bundles/modernizr")
@{
    /**/

    ViewBag.Title = "Question " + ViewBag.Session.CurrentQuestion;
}

@model Questions

<h2>
    @ViewBag.TestName
</h2>

<h2>
    @Model.question_text
</h2>



@using (Html.BeginForm("CheckResult", "Tester", new { sessionId = ViewBag.Session.Id }))
{

    if (Model.type == 1)
    {
        foreach (Answers answer in Model.Answers)
        {
            <hr />
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    <div class="form-group">
                        <div class="SinglecheckBox">
                            <div class="CheckStyle">
                                @Html.RadioButton("arr", answer.answer_text)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-md-10">
                    <div class="form-group">
                        @Html.Label(answer.answer_text)
                    </div>
                </div>
            </div>

        }
    }
    else if (Model.type == 2)
    {
        foreach (Answers answer in Model.Answers)
        {
            <hr />
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    <div class="form-group">
                        <div class="SinglecheckBox">
                            <div class="CheckStyle">
                                @Html.CheckBox("arr", answer.answer_text)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-md-10">
                    <div class="form-group">
                        @Html.Label(answer.answer_text)
                    </div>
                </div>
            </div>

        }
    }



    <input type="submit" value="Send" />
    <input type="submit" name="action" value="fuck" class="btn btn-danger" />
    <input type="submit" name="action" value="fre" class="btn btn-success" />
}


