
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "All Tests";
}

@model TesterBacalar_v3.Tests

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/AdminPanelStyle.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="row">
        <div class="form-group">
            <h3>Список всіх тестів</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-md-12">
            <table class="table">

                <tr>
                    <th>Id Тесту</th>
                    <th>Назва тесту</th>
                    <th>Предмет</th>
                </tr>

                @foreach (TesterBacalar_v3.Tests q in ViewBag.Rezult)
                {
                    <tr>
                        <td>@q.test_id</td>
                        <td>@q.test_name</td>
                        <td>@q.subject_name</td>
                    </tr>
                }

            </table>
        </div>
    </div>

</body>
</html>

